{% extends 'layout/base.twig' %}
{% block content %}
    <header>
        {% include 'layout/navigation/top.twig' %}
        {% include 'intro.twig' %}
    </header>
    <main class="text-center py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p align="justify">
                        Uus teema
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}