<!DOCTYPE html>
<html class="full-height">
    <head>
        <meta charset="utf-8"/>
        <title>Kerttu's Twig Page</title>
        <link rel="stylesheet" th:href="@{/css/signin.css}"/>
</head>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    
        <script src="public/js/vendor.js"></script>
    
        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>
